@model BLL.DTO.InstitutionDTOs.CreateInstitutionDto

@if (TempData["ErrorInstitution"] != null)
{
    <div class="alert alert-danger">
        <strong>Sorry!</strong> - @TempData["ErrorInstitution"]
    </div>
}

@using (Html.BeginForm("Create", "Institution", FormMethod.Post, new { id = "createInstitutionForm", @class = "needs-validation", novalidate = "novalidate" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="mb-3 row">
            @Html.LabelFor(model => model.InstCode, new { @class = "col-sm-3 form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.InstCode, new { @class = "form-control", placeholder = "ACXXX" })
                @Html.ValidationMessageFor(model => model.InstCode, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Banca con codice ACXXX" })
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="AdditionalInfo">Informazione Aggiuntive:</label>
            <div class="col-sm-9">
                <textarea id="AdditionalInfo" rows="5" name="AdditionalInfo" class="form-control" placeholder="In questa area sarà scritta qualche informazione addizionale non obbligatoria che si usa come descrizione dell'istituto"></textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="width: 100px;">Salva</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancella</button>
    </div>
}
