@model BLL.DTO.InstitutionDTOs.UpdateInstitutionDto

@if (TempData["ErrorInstitution"] != null)
{
    <div class="alert alert-danger">
        <strong>Sorry!</strong> - @TempData["ErrorInstitution"]
    </div>
}

@using (Html.BeginForm("Edit", "Institution", new { institutionId = Model.Id }, FormMethod.Post, new { id = "updateInstitutionForm", @class = "needs-validation", novalidate = "novalidate" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="mb-3 row">
            @Html.LabelFor(model => model.InstCode, "*Code", new { @class = "col-sm-3 form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.InstCode, new { @class = "form-control", placeholder = "ACXXX", maxlength = "5", @disabled = "disabled", @style = "max-width: 100% !important; width: 100%;" })
                @Html.ValidationMessageFor(model => model.InstCode, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            @Html.LabelFor(model => model.Name, "*Name", new { @class = "col-sm-3 form-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Banca of code ACXXX", maxlength = "255", @style = "max-width: 100% !important; width: 100%;" })
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="AdditionalInfo">Additional Info</label>
            <div class="col-sm-9">
                <textarea id="AdditionalInfo" rows="5" name="AdditionalInfo" maxlength="1000" style="max-width: 100% !important; width: 100%;" class="form-control" placeholder="Big Message">@Model.AdditionalInfo</textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" style="width: 100px;" onclick="handleSubmitButton('#updateInstitutionForm', 'InstitutionDatatable')">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
}
