@model BLL.UserDTOs.UserDto
<style>
    hr.dashed {
        border-top: 2px dashed #000; /* Задаём черту как пунктирную, толщиной 2px и черного цвета */
        margin-top: 10px; /* Отступ сверху */
        margin-bottom: 10px; /* Отступ снизу */
    }
</style>



<h1>Detail</h1>

<div class="modal-body">
    <div class="mb-3 row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.UserName, "User name")
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = true })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Name, "Name")
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @disabled = true })
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Surname)
            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @disabled = true })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Patronymic)
            @Html.TextBoxFor(model => model.Patronymic, new { @class = "form-control", @disabled = true })
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @disabled = true })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.IsEnabled, "Enabled")
            <div role="group">
                <input type="radio" class="btn-check" name="btnradio2" id="btnradio2-1" value="True" autocomplete="off" @(Model.IsEnabled ? "checked" : "") disabled>
                <label class="btn btn-outline-primary" for="btnradio2-1">Active</label>

                <input type="radio" class="btn-check" name="btnradio2" id="btnradio2-2" value="False" autocomplete="off" @(Model.IsEnabled ? "" : "checked") disabled>
                <label class="btn btn-outline-primary" for="btnradio2-2">Inactive</label>
            </div>
        </div>
    </div>

    <hr class="dashed">

    <div class="mb-3 row">
        @foreach (var role in Model.UserRoles)
        {
            <div class="col-md-4">
                @Html.TextBoxFor(model => role, new { @class = "form-control", @disabled = true })
            </div>
        }

    </div>
    @if (Model.InstitutionName != null)
    {
        <hr class="dashed">
        <div class="mb-3 row">
            <div class="col-12">
                @Html.LabelFor(model => model.InstitutionName, "Institution", new { @class = "form-label" })
                @Html.TextBoxFor(model => model.InstitutionName, new { @class = "form-control", @disabled = true, @style = "max-width: 100% !important; width: 100%;" })
            </div>
        </div>
    }
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light waves-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
