@model BLL.DTO.UserDto

<h1>Detail</h1>

<div>
    <div class="modal-body">

        <hr />
        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = true })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, "First Name")
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @disabled = true })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, "Last Name")
                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @disabled = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Patronymic, "Patronymic")
                @Html.TextBoxFor(model => model.Patronymic, new { @class = "form-control", @disabled = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, "Email")
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @disabled = true })
            </div>

            <div class="form-group mt-3 mb-2">
                @Html.HiddenFor(model => model.IsEnabled, new { @id = "IsEnabledDisabled" })
                <div class="btn-group" role="group">
                    <!-- Unique name and ids for the second group, disabled state -->
                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio2-1" value="True"
                           autocomplete="off" @(Model.IsEnabled ? "checked" : "") disabled>
                    <label class="btn btn-outline-primary" for="btnradio2-1">Active</label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio2-2" value="False"
                           autocomplete="off" @(Model.IsEnabled ? "" : "checked") disabled>
                    <label class="btn btn-outline-primary" for="btnradio2-2">Inactive</label>
                </div>
            </div>


            <div class="form-group mb-3">
                @Html.LabelFor(model => model.UserRoles, "Role")
                @foreach (var role in Model.UserRoles)
                {
                    <input type="text" readonly disabled class="form-control" value="@role">
                    <br />
                }

            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
