@model BLL.DTO.DocumentDTOs.DocumentDetailDto
<div class="card-body">
    <div class="p-3 bg-light mb-4">
        <h5 class="font-size-16 mb-0">Document name <span class="float-end ml-2">@Model.Name</span></h5>
    </div>
    <div class="table-responsive">
        <table class="table table-centered mb-0 table-nowrap">
            <tbody>

                <tr>
                    <th scope="row" colspan="2">@Model.Institution</th>
                    <td>
                        <h5 class="font-size-14 text-truncate">@Model.MacroType</h5>
                        @if (Model.MicroType != Model.MacroType)
                        {
                            <p class="text-muted mb-0">@Model.MicroType</p>
                        }
                    </td>
                </tr>

                @if (!string.IsNullOrWhiteSpace(Model.Project))
                {
                    <tr>
                        <td colspan="2">
                            <h5 class="font-size-14 m-0">Project :</h5>
                        </td>
                        <td>
                            @Model.Project
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="2">
                        <h5 class="font-size-14 m-0">Grouping Date :</h5>
                    </td>
                    <td>
                        @Model.DataGroup
                    </td>
                </tr>

                @if (!string.IsNullOrWhiteSpace(Model.AdditionalInfo))
                {
                    <tr>
                        <td colspan="3">

                            <div class="form-floating">
                                <textarea id="AdditionalInfo" rows="3" placeholder="Additional Info" class="form-control" style="resize: none; height: 100px; max-width: 100% !important; width: 100%;" disabled>@Model.AdditionalInfo</textarea>
                                <label for="additionalInfo">Additional Info</label>
                            </div>
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="2">
                        <h5 class="font-size-14 m-0">User :</h5>
                    </td>
                    <td>
                        @Model.User
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>


@*<embed src="~/Access/uploads/kadjsf/2024/May/Progetto Documentale1.docx#toolbar=0" height="500" width="800" />*@


