@model  List<BLL.DTO.BankDTOs.SLAGroupTreeVm>

<br />


<div class="card checkout-order-summary">
    <div class="card-body">
        <div class="report-container">
            @if (Model.Count == 0)
            {
                <div class="year">No has data</div>
            }
            @foreach (var mainYear in Model)
            {
                <div class="year" onclick="HideAndShow(this)">@mainYear.Year</div>
                <ul class="report-list" style="display: none;">
                    @foreach (var month in mainYear.Months)
                    {
                        <li>
                            <span class="caret">@month.MonthName (@month.Count)</span>

                            <ul class="nested" style="display: none;">
                                @foreach (var report in month.Reports)
                                {
                                    <li class="report-item" onclick="loadReportDetails(@report.Id)">@report.Text</li>
                                }
                            </ul>

                        </li>
                    }
                </ul>
            }
            
        </div>
    </div>
</div>

